col-xs-12{
    background-color: #b0c7dd;
}
col-xs-2{
    background-color: #D4B6D7;
    height: 500px;
}
col-xs-7{
    background-color: #fedf8f;
    height: 500px;

}
col-xs-3{
    background-color: #F8A48D;
    height: 500px;
}

ol-xs-4{
    background-color: #a7b9df;
    height: 400px;
    border: 1px solid black;
}
col-xs-6{
    background-color: #b484bb;
    border: 1px solid black;
    
}

col-xs-6{
    background-color: lightgray;
}

.jumbotron{
    background-color: #F8A48D;
    color: #b0c7dd;
    margin: 0 auto;
}

.alert-info{
    background-color: aqua;
    color:white;
    margin: 0 auto;

}
.panel{
    background-color: #D4B6D7;
    color: white;
    margin-top: 10px;
}